{% extends "base.html" %}
{% load imagekit %}

{% block title %}{{ header }}{% endblock %}

{% block content %}
<h1>Corp Admin</h1>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Flair</th>
    <th></th>
    <th>Redditors</th>
  </tr>

  {% for corp in corps %}
    <tr>
      <td></td>
      <td style="padding: 0;">
        {% generateimage 'core:logo' source=corp.logo %}
      </td>
      <td>{{ corp.name }} [{{ corp.ticker }}]</td>
      <td>{{ corp.flair_count }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
