{% extends "base.html" %}
{% load imagekit bootstrap3 %}

{% block title %}{{ header }}{% endblock %}

{% block content %}
<h1>Corp Admin</h1>

<div class="well well-md">
  <h3>Add Corp</h3>

  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form=form %}
    {% bootstrap_button content="Submit" name="submit" value="addcorp" button_class="btn-primary" extra_classes="btn-block" %}
  </form>
</div>

<form method="POST">
  {% csrf_token %}
  <table class="table table-striped">
    <tr>
      <th>
        <div align="center">
          Active
        </div>
      </th>
      <th>Flair</th>
      <th></th>
      <th>Redditors</th>
    </tr>

    {% for corp in corps %}
      <tr>
        <td>
          <div align="center">
            <input type="checkbox" name="corp" value="{{ corp.id }}" {% if corp.active %}checked{% endif %} />
          </div>
        </td>
        <td style="padding: 0;">
          {% generateimage 'core:logo' source=corp.logo %}
        </td>
        <td>{{ corp.name }} [{{ corp.ticker }}]</td>
        <td>{{ corp.flair_count }}</td>
      </tr>
    {% endfor %}
  </table>

  <br />
  {% bootstrap_button content="Submit" name="submit" value="corplist" button_class="btn-primary" extra_classes="btn-block" %}
</form>
{% endblock %}
