{% extends "base.html" %}
{% load imagekit mathfilters cache %}

{% block title %}{{ header }}{% endblock %}

{% block content %}
<h1>{{ header }}</h1>

<table class="table table-striped">
  <tr>
    <th class="col-md-1">Position</th>
    <th class="col-md-9 col-sm-8" colspan="2">Flair</th>
    <th class="col-md-2 col-sm-3">Redditors (5 day delta)</th>
  </tr>
  {% for i, flair in flairs %}
  <tr>
    <td>{{ i|add:"1" }}</td>
    <td style="padding: 0;">
      {% generateimage 'core:logo' source=flair.logo %}
    </td>
    <td>
      {{ flair.name }}
      {% if flair.ticker %}
      [{{ flair.ticker }}]
      {% endif %}
    </td>
    <td>
      {% with delta=flair.flair_count|sub:flair.flair_lastweek %}
      {{ flair.flair_count }}
      {% if delta != 0 %}
      <span class="{% if delta > 0 %}text-success{% else %}text-danger{% endif %}">
        {% if delta > 0 %}
        <span class="glyphicon glyphicon-arrow-up"></span>
        {% else %}
        <span class="glyphicon glyphicon-arrow-down"></span>
        {% endif %}
        <strong>{{ delta }}</strong>
      </span>
      {% endif %}
      {% endwith %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
